@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
    color:#111827;
    padding: 0;
    margin: 0%;
    text-align: center;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:700;
  font-size:30px;
}

.logo-text span{
    background: linear-gradient(90deg, #6a8dff, #a855f7, #ff4d8d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}


a{
    text-decoration:none;
    color:inherit;
}

/* HEADER BASE */
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 100;
    transition: 0.3s ease;
    border-bottom: 1px solid rgba(0,0,0,0.08); /* linha divisória */
}

header{
    border-bottom: 1px solid transparent;
}

header.scrolled{
    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.08);
}


/* ESTADO TRANSPARENTE (PADRÃO) */
header:not(.scrolled) .logo,
header:not(.scrolled) .menu a{
    color: white;
}

/* ESTADO COM FUNDO BRANCO */
header.scrolled{
    background: white;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

header.scrolled .logo,
header.scrolled .menu a{
    color: #111827;
}
  
header:not(.scrolled) .hamburger.active span{
    background:#111827;
}

header:not(.scrolled) .btn-primary{
    color:white;
}

/* HAMBURGER */
.hamburger{
    display:none;
    flex-direction:column;
    justify-content:center;
    gap:6px;
    cursor:pointer;
    z-index:200;
}

.hamburger span{
    width:28px;
    height:3px;
    background:rgb(255, 255, 255);
    border-radius:5px;
    transition:0.4s ease;
}

/* Cor quando header branco */
header.scrolled .hamburger span{
    background:#111827;
}


/* Animação virar X */
.hamburger.active span:nth-child(1){
    transform:rotate(45deg) translate(6px,6px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}

.hamburger.active span:nth-child(3){
    transform:rotate(-45deg) translate(7px,-7px);
}

.hamburger.active span{
    background:#111827;
}

@media (max-width:768px){

    .hamburger{
        display:flex;
    }

    .menu{
        position:fixed;
        top:0;
        right:0;
        height:100vh;
        width:280px; /* agora só um pedaço */
        background:white;
        flex-direction:column;
        align-items:flex-start;
        padding:120px 30px;
        gap:30px;
        box-shadow:-10px 0 30px rgba(0,0,0,0.1);
        transform:translateX(100%);
        transition:0.4s ease;
        z-index:150;
    }

    .menu a{
        font-size:18px;
        color:#111827; /* letras pretas */
        width:100%;
    }

    .menu.active{
        transform:translateX(0);
    }

    header:not(.scrolled) .menu{
        background:white;
    }

    header:not(.scrolled) .menu a{
        color:#111827;
    }

}



.container{
    width:90%;
    max-width:900px;
    margin:0 auto;
}



nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.menu{
    display:flex;
    gap:30px;
    align-items:center;
}

.btn{
    padding:12px 25px;
    border-radius:12px;
    border:none;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.btn-primary{
    background:linear-gradient(90deg,#6a8dff,#a855f7,#ff4d8d);
    color:white; /*  garantir que começa branco */
}


.btn-primary:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.hero{
    padding-top:150px;
    padding-bottom:120px;
    text-align:center;
    background:linear-gradient(135deg,#6a8dff,#a855f7,#ff4d8d);
    color:white;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:40px;
}

.video-preview{
    margin-top:80px;
    background:
    linear-gradient(white 1px, transparent 1px),
    linear-gradient(to right, white 1px, transparent 1px);
    background-size:40px 40px;
    background-color:rgba(255,255,255,0.15);
    height:350px;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
}

.section{
    padding:100px 0;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.center{
    text-align:center;
}

.price-card{
    background: linear-gradient(135deg, #6a8dff, #a855f7, #ff4d8d);
    color: white;
    padding: 30px;
    border-radius: 25px;
    width: 380px;
    margin: auto;
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    text-align: left;
    
}

.price-card h3{
    font-size: 14px;
    opacity: 0.9;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.price-card h2{
    font-size: 42px;
    margin: 20px 0 50px;
  
}

.price-card p{
    margin: 18px 0;
    font-size: 16px;
}

.card-box{
    background:#f3f4f6;
    padding:30px;
    border-radius:16px;
    margin:40px auto;
    max-width:700px;
}

.referral-link-box{
    margin-top:20px;
    display:flex;
    align-items:center;
    gap:15px;
}

.referral-link-box input{
    flex:1;
    padding:14px 18px;
    border-radius:12px;
    border:1px solid #e3e4e6ce;
    font-size:14px;
    background:white;
}

.copy-btn{
    background:linear-gradient(135deg,#6a8dff,#a855f7,#ff4d8d);
    border:none;
    padding:14px 18px;
    border-radius:12px;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.progress-header{
    display:flex;
    justify-content:space-between;
    font-weight:600;
    margin-bottom:15px;
}

.progress-container{
    background:#ffffff;
    height:10px;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    height:100%;
    width:0%;
    background:linear-gradient(90deg,#6a8dff,#a855f7,#ff4d8d);
    transition:0.4s ease;
}

.progress-text{
    margin-top:20px;
    font-size:15px;
    color:#6b7280;
   
}

.section h2{
    margin-bottom: 15px;
}

.section p{
    margin-bottom: 40px;
}

.section-title{
    margin-bottom: 60px;
}

.section h1{
    margin-bottom: 15px;
}

.section h3{
    margin-bottom: 40px;
}

.price-card .btn{
    background: white;
    color: #a855f7 ;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.price-card .btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(160, 156, 156, 0.603);
}

.referral-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.referral-card{
    background: white;
    padding: 25px;
    width: 150px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #e5e7eb; 
    box-shadow: none; 
    transition: 0.3s;
    cursor: pointer;
}

.referral-card:hover{
    transform: translateY(-3px);
    border: 1px solid #a855f7;
}


.referral-card.active{
    background: linear-gradient(135deg,#6a8dff,#a855f7,);
    color: white;
}


.progress-container{
    width: 400px;
    height: 10px;
    background: #e5e2e2;
    border-radius: 20px;
    margin: 20px auto;
    overflow: hidden;
}

.progress-bar{
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg,#6a8dff,#a855f7,#ff4d8d);
    transition: 0.4s ease;
}


.progress-steps {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0auto;
    font-size: 14px;
    font-weight: 600;
}

.referral-card:hover{
    transform:translateY(-5px);
}

.referral-card h2{
    margin:8px 0;
    font-size:20px;
    color:#a855f7;
}

.referral-card.active{
    border:2px solid #a855f7;
    transform:scale(1.05);
    box-shadow:0 15px 35px rgba(168,85,247,0.3);
}

.referral-link-container{
    margin: 25px auto;
    display: flex;
    align-items: center;
    width: 500px;
    background: white;
    border-radius: 30px;
    padding: 8px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.referral-link-container input{
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 14px;
    background: transparent;
    color: #555;
}

.copy-btn{
    border: none;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 25px;
    font-size: 16px;
    background: linear-gradient(135deg,#6a8dff,#a855f7,#ff4d8d);
    color: white;
    transition: 0.3s;
}

.copy-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(168,85,247,0.4);
}


.form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

input{
    padding:14px;
    border-radius:12px;
    border:1px solid #ddd;
}

footer{
  
    margin-top: 80px;
    padding: 30px 0;
    border-top: 1px solid rgba(0,0,0,0.1); /* linha separadora */
    text-align: center;
}

.btn-back{
    position: relative;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 20px;
    transition: 0.3s;
}



.btn-back,
.btn-back span{
    color:rgb(0, 0, 0);
}


.btn-back:hover{
    background:#fffafa00;
    transform:translateY(-2px);
    opacity: 0.8;
}

.back-icon{
    display:none;
    font-size:20px;
}


@media (max-width:768px){

    .back-text{
        display:none;
    }

    .back-icon{
        display:inline;
    }

}

.header-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
}

.logo-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-text{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
}


header{
    padding: 30px 0; /* antes era 20px */
}

.header-spacer{
    width:100px;
}

.logo-text{
    font-size:26px;
    font-weight:700;
}

.logo-text span{
    background:linear-gradient(90deg,#6a8dff,#a855f7,#ff4d8d);
    -webkit-background-clip:text;
    color:transparent;
}

.menu-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.25);
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);
    opacity:0;
    pointer-events:none;
    transition:0.3s ease;
    z-index:90;
}

/* Quando ativo */
.menu-overlay.active{
    opacity:1;
    pointer-events:auto;
}
